<!-- templates/todo.html -->
<!DOCTYPE html>
<html>
  <head>
    <title>To-Do Item</title>
  </head>
  <body>
    <h1>Add To-Do Item</h1>
    <form action="/submittodoitem" method="POST">
      <label>Item Name:</label><br />
      <input type="text" name="itemName" required /><br /><br />

      <label>Item Description:</label><br />
      <textarea name="itemDescription" rows="4" required></textarea><br /><br />

      <label>Item ID:</label><br />
      <input type="text" name="itemId" /><br /><br />

      <label>Item UUID:</label><br />
      <input type="text" name="itemUuid" /><br /><br />

      <label>Item Hash:</label><br />
      <input type="text" name="itemHash" /><br /><br />

      <button type="submit">Add Item</button>
    </form>
  </body>
</html>
